html {
    min-width: 550px;
	min-height: 14rem;
    overflow-x: hidden;
    /* Required to hide horizontal scroll on Firefox */
}

#options-form input[type="text"],
#options-form input[type="password"] {
    margin: 0;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#options-form input:invalid {
	border: 1px solid #f08080;
}

#options-form label.text-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

label.text-input>span:first-child {
    flex: 0 0 auto;
    padding-right: 10px;
    width: 120px;
}

p.repo-source {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.repo-source input[type="text"] {
    flex-grow: 1;
    min-width: 0;
}

label.text-input>.divider {
    width: 20px;
    flex: 0 0 auto;
    text-align: center;
}

hr {
    margin-bottom: 15px;
}

#check-connection-btn {
	width: 11rem;
	cursor: pointer;
	display: inline-block;
}

#check-connection-btn:disabled {
	cursor: not-allowed;
}

#check-connection-btn.in-progress {
	cursor: progress;
}

#connection-message {
	border-radius: 4px;
	padding: 10px 15px;
	margin: 10px 0;
	display: block;
	box-sizing: border-box;
}

#connection-message.hidden {
	display: none;
}

#connection-message.success {
	color: #003300;
	background-color: #ccffcc;
	border: 1px solid #004400;
}

#connection-message.error {
	color: #330000;
	background-color: #ffcccc;
	border: 1px solid #440000;
}